FixtureMonitor/Connected Services/FixtureServiceProxy/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FixtureService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FixtureService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFixture">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Fixture" nillable="true" type="tns:Fixture" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFixture" nillable="true" type="tns:ArrayOfFixture" />
  <xs:complexType name="Fixture">
    <xs:sequence>
      <xs:element minOccurs="0" name="CeilingCount" type="xs:long" />
      <xs:element minOccurs="0" name="CycleCount" type="xs:long" />
      <xs:element minOccurs="0" name="ExpirationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FixtureName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="InvestmentDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LineId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SerialNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="UseCount" type="xs:long" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Fixture" nillable="true" type="tns:Fixture" />
</xs:schema>